<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-col">
            <h4>Icons</h4>
            <ul>
                <li><a href="#">Air Force 1</a></li>
                <li><a href="#">Huarache</a></li>
                <li><a href="#">Air Max 90</a></li>
                <li><a href="#">Air Max 95</a></li>
                <li><a href="#">Air Max 97</a></li>
                <li><a href="#">Air Max 270</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Shoes</h4>
            <ul>
                <li><a href="/men">Men's Shoes</a></li>
                <li><a href="/women">Women's Shoes</a></li>
                <li><a href="/kids">Kids' Shoes</a></li>
                <li><a href="#">Running</a></li>
                <li><a href="#">Basketball</a></li>
                <li><a href="#">Training</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Get Help</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Shipping & Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About Nike</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Purpose</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Nike, Inc. All Rights Reserved</p>
        <div class="footer-legal">
            <a href="#">Guides</a>
            <a href="#">Terms of Sale</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/lenis@1.1.18/dist/lenis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="/js/app.js"></script>
</body>

</html>